<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        <h2>Name: <span>{{name}}</span></h2>
        <h2>Email: <span>{{email}}</span></h2>
        <h2>Passowrd: <span>{{pwd}}</span></h2>
    </body>
</html>
